body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: #d9d9d980;
  font-family: "Inter Tight", serif;
  overflow-x: hidden;
  -webkit-user-select: none;
}
.banner-container {
  padding: 208.5px 140px;
  height: 246px;
}

@media screen and (max-width: 1145.9px) {
  .banner-container {
    padding: 90.5px 16px;
    height: 219px;
  }
}
@media screen and (max-width: 639.9px) {
  .banner-container {
    padding: 90.5px 16px;
    height: 319px;
  }
}
.banner-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 663px;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}
@media screen and (max-width: 1145.9px) {
  .banner-img {

    height: 400px;
  }
}
@media screen and (max-width: 639.9px) {
  .banner-img {
    height: 500px;
  }
}
.banner-leap-word {
  height: 68px;
  width: 421px;
  margin-bottom: 20px;
}
@media screen and (max-width: 639.9px) {
  .banner-leap-word {

    height: 34px;
    width: 210px;
  }
}
.banner-content {
  font-family: "Poppins", serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 28.8px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #E1B7C9;
  margin-top: 0;
  margin-bottom: 20px;
  max-width: 808px;
}
@media screen and (max-width: 639.9px) {
  .banner-content {
    font-size: 15px;
  }
}
.main-container {
  padding: 110px 140px 80px;
  color: #05010c;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0;
  overflow-x: hidden;
}
@media screen and (max-width: 1439.9px) {
  .main-container {
    padding: 110px 15px 80px;
    padding-bottom: 0;
  }
}
@media screen and (max-width: 1145.9px) {
  .main-container {
    padding: 50px 16px 80px;
    padding-bottom: 0;
  }
}

h1 {
  font-size: 12px;
}
.heading-container {
  max-width: 1061px;
  margin-bottom: 157px;
}
.body-heading {
  font-family: "Poppins", serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 28.8px;
  text-align: left;
  text-decoration-skip-ink: none;
  margin-bottom: 37px;
}
.body-paragraph {
  font-size: 42px;
  font-weight: 600;
  line-height: 50.4px;
  letter-spacing: -0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  max-width: 932px;
}
@media screen and (max-width: 639.9px) {
  .body-paragraph {
    font-size: 36px;
  }
}
.mark-span {
  color: #434ee5;
}
.body-cards {
  width: 100%;
  max-width: 1160px;
  margin-bottom: 150px;
}
@media screen and (max-width: 1439.9px) {
  .vision-card {
    width: 94%;
  }
}
@media screen and (max-width: 1124.9px) {
  .body-cards {
    width: 86%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 639.9px) {
  .body-cards {
    width: 86%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
}
/* vision */
.vision-card {
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #f6f0ff 0%, rgba(246, 240, 255, 0) 100%);
  border-radius: 40px;
  padding: 86px 107px 86px 24px;
  max-width: 1029px;
  margin-bottom: 77px;
}
@media screen and (max-width: 1124.9px) {
  .vision-card {
    padding: 22px;
    margin-bottom: 120px;
  }
}
.vision-card-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (max-width: 1124.9px) {
  .vision-card-flex {
    flex-direction: column;
    align-items: center;
  }
}

.vision-img {
  height: 266px;
  width: 363px;
  margin-top: -133px;
}
@media screen and (max-width: 639.9px) {
  .vision-img {
    height: 169px;
    width: 230px;
  }
}
.vision-card-content {
  max-width: 625px;
}
.vision-card-header {
  font-size: 42px;
  font-weight: 600;
  line-height: 50.4px;
  letter-spacing: -0.02em;
  text-align: left;
  margin-bottom: 25px;
  margin-top: 0;
}
.vision-card-body {
  font-family: "Poppins", serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 28.8px;
  text-align: left;
}

/* mission */
.mission-card {
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(238, 243, 255, 0) 0%, #eef3ff 100%);
  border-radius: 40px;
  padding: 43px 20px 43px 48px;
  max-width: 1092px;
  margin-bottom: 77px;
}
@media screen and (max-width: 1124.9px) {
  .mission-card {
    padding: 22px;
    margin-bottom: 120px;
  }
}
@media screen and (max-width: 639.9px) {
  .mission-card {
    padding: 22px;
    margin-bottom: 175px;
  }
}
.mission-card-flex {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
@media screen and (max-width: 1124.9px) {
  .mission-card-flex {
    flex-direction: column;
    align-items: center;
  }
}
.mission-img {
  height: 388px;
  width: 278px;
  margin-top: -111px;
}
@media screen and (max-width: 639.9px) {
  .mission-img {
    height: 169px;
    width: 230px;
  }
}
.mission-card-content {
  max-width: 749px;
}
.mission-card-header {
  font-size: 42px;
  font-weight: 600;
  line-height: 50.4px;
  letter-spacing: -0.02em;
  text-align: left;
  margin-bottom: 25px;
  margin-top: 0;
}
.mission-card-body-1 {
  font-size: 18px;
  font-weight: 500;
  line-height: 28.8px;
  text-align: left;
  margin-bottom: 25px;
  margin-top: 0;
}
.mission-card-body-2 {
  font-size: 18px;
  font-weight: 500;
  line-height: 28.8px;
  text-align: left;
  margin: 0;
}
/* whoWeAre */
.whoWeAre-card {
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #f6f0ff 0%, rgba(246, 240, 255, 0) 100%);
  border-radius: 40px;
  padding: 101px 107px 30px 44px;
  max-width: 1009px;
  margin-bottom: 0;
}
@media screen and (max-width: 1124.9px) {
  .whoWeAre-card {
    padding: 22px;
    margin-bottom: 0px;
  }
}
.whoWeAre-card-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (max-width: 1124.9px) {
  .whoWeAre-card-flex {
    flex-direction: column;
    align-items: center;
  }
}
.whoWeAre-img {
  height: 385px;
  width: 284px;
  margin-top: -153px;
}
@media screen and (max-width: 639.9px) {
  .whoWeAre-img {
    height: 169px;
    width: 230px;
  }
}
.whoWeAre-card-content {
  max-width: 625px;
}
.whoWeAre-card-header {
  font-size: 42px;
  font-weight: 600;
  line-height: 50.4px;
  letter-spacing: -0.02em;
  text-align: left;
  margin-bottom: 25px;
  margin-top: 0;
}
.whoWeAre-card-body {
  font-size: 18px;
  font-weight: 500;
  line-height: 28.8px;
  text-align: left;
  margin: 0;
  color: #000000;
}

.featured-cards {
  width: 100%;
  max-width: 1160px;
  margin-bottom: 110px;
}
@media screen and (max-width: 1124.9px) {
  .featured-cards {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 639.9px) {
  .featured-cards {
    font-size: 36px;
    margin-bottom: 20px;
  }
}
.featured-heading {
  font-size: 42px;
  font-weight: 600;
  line-height: 50.4px;
  letter-spacing: -0.02em;
  text-align: center;
  margin-bottom: 80px;
}
@media screen and (max-width: 639.9px) {
  .featured-heading {
    font-size: 36px;
    margin-bottom: 20px;
  }
}
.featured-cards-container {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1124.9px) {
  .featured-cards-container {
    flex-direction: column;
    align-items: center;
  }
}
.featured-card {
  height: 100%;
  width: 100%;
  max-height: 477px;
  max-width: 313px;
  border-radius: 40px;
  padding: 30px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1124.9px) {
  .featured-card {
    margin-bottom: 10px;
    max-width: 540px;
  }
}
@media screen and (max-width: 639.9px) {
  .featured-card {
    margin-bottom: 20px;
    width: 80%;
  }
}
.business-card {
  background-color: #f5f5f5;
}
.dataAnalytics-card {
  background: linear-gradient(180deg, #060e2e 0%, #000000 100%);
}
.AI-card {
  background-color: #f5f5f5;
}
.business-card-header {
  font-size: 32px;
  font-weight: 600;
  line-height: 38.4px;
  letter-spacing: -0.02em;
  text-align: left;
  margin-top: 0;
  margin-bottom: 41px;
  max-width: 225px;
}
@media screen and (max-width: 1124.9px) {
  .business-card-header {
    margin-bottom: 10px;
  }
}
.business-card-body {
  font-size: 18px;
  font-weight: 500;
  line-height: 28.8px;
  text-align: left;
  color: #000;
  margin-top: 0;
  margin-bottom: 72px;
}
@media screen and (max-width: 1124.9px) {
  .business-card-body {
    margin-bottom: 10px;
  }
}
.dataAnalytics-card-header {
  font-size: 32px;
  font-weight: 600;
  line-height: 38.4px;
  letter-spacing: -0.02em;
  text-align: left;
  max-width: 177px;
  margin-top: 0;
  margin-bottom: 41px;
  color: #a7adf8;
}
@media screen and (max-width: 1124.9px) {
  .dataAnalytics-card-header {
    margin-bottom: 10px;
  }
}
.dataAnalytics-card-body {
  font-size: 18px;
  font-weight: 500;
  line-height: 28.8px;
  text-align: left;
  color: #ffffff;

  margin-top: 0;
  margin-bottom: 158px;
}
@media screen and (max-width: 1124.9px) {
  .dataAnalytics-card-body {
    margin-bottom: 67px;
  }
}
.AI-card-header {
  font-size: 32px;
  font-weight: 600;
  line-height: 38.4px;
  letter-spacing: -0.02em;
  text-align: left;
  margin-top: 0;
  margin-bottom: 79px;
  max-width: 225px;
}
@media screen and (max-width: 1124.9px) {
  .AI-card-header {
    margin-bottom: 10px;
  }
}
.AI-card-body {
  font-size: 18px;
  font-weight: 500;
  line-height: 28.8px;
  text-align: left;
  color: #000;
  margin-top: 0;
  margin-bottom: 158px;
}
@media screen and (max-width: 1124.9px) {
  .AI-card-body {
    margin-bottom: 10px;
    margin-bottom: 76px;
  }
}
.brochure {
  font-size: 18px;
  font-weight: 500;
  line-height: 28.8px;
  text-align: left;
  cursor: pointer;
  color: #434ee5;
  width: 100%;
  text-decoration: none;
  background: url("/assets/icons/arrow-right.svg") no-repeat right center;
  background-size: 24px 24px;
}
.white {
  color: #fff;
  background: url("/assets/icons/arrow-right-w.svg") no-repeat right center !important;
}
.success-stories {
  width: 100vw;
}
.success-stories-header {
  font-size: 42px;
  font-weight: 600;
  line-height: 50.4px;
  letter-spacing: -0.02em;
  text-align: center;
  margin-bottom: 166px;
  margin-top: 36px;
}
@media screen and (max-width: 639.9px) {
  .success-stories-header {
    font-size: 36px;
    margin-bottom: 150px;
  }
}
.success-stories-bg {
  background-color: #010207;
  height: 937px;
  position: absolute;
  width: 100vw;
}
@media screen and (max-width: 639.9px) {
  .success-stories-bg {
    height: 860px;
  }
}
.success-stories-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.success-stories-cards {
  z-index: 2;
  margin-top: -130px;
}
section {
  display: grid;
  place-items: center;
  margin: auto auto;
  font-family: "Poppins", serif;
}

.review-wrapper {
  padding: 3em;
}
section {
  display: grid;
  place-items: center;
  margin: auto auto;
  font-family: Poppins;
}

.review-wrapper {
  padding: 3em;
}
@media screen and (max-width: 1124.9px) {
  .review-wrapper {
    padding: 10px;
  }
}
.sp-carousel {
  display: flex;
  gap: 15px;
  margin: auto auto;
  position: relative;
  overflow-x: hidden;
  width: 100% !important;
}
.SP-slider {
  padding: 30px;
  height: auto;
  transition: opacity 0.5s ease-in-out;
  flex: 0 0 100%;
  max-width: 904px;
  margin: 0px auto;
  background-color: #fff;
  border-radius: 40px !important;
}
@media screen and (max-width: 1124.9px) {
  .SP-slider {
    max-width: 530px;
    padding: 15px !important;
    border-radius: 20px !important;
  }
}
@media screen and (max-width: 639.9px) {
  .SP-slider {
    max-width: 300px;
    border-radius: 10px !important;
    padding: 5px !important;
  }
}
.SP-slider > img {
  width: 5em;
  margin: 5px 5px;
}

.SP-slider > .reviewer-name {
  font-size: large;
}
.bd-container {
  max-width: 1024px;
  width: calc(100% - 3rem);
}
@media screen and (max-width: 1124.9px) {
  .bd-container {
    max-width: 640px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 639.9px) {
  .bd-container {
    max-width: 315px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100% !important;
  }
}
.order-landing__data {
  text-align: center;
  padding: 30px;
  border-radius: 1rem;
}

.carousel-dots {
  display: flex;
  margin-top: 73px;
}
@media screen and (max-width: 1124.9px) {
  .carousel-dots {
    margin-top: 20px;
  }
}
.dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #d9d9d9a1;
  margin: 0 6px;
  cursor: pointer;
  display: flex;
}

.dot.active {
  z-index: 3;
  background-color: #434ee5 !important;
  width: 16.5px !important;
  border-radius: 20px !important;
}

.dot:hover {
  background-color: #aaa;
}

.bi {
  color: #ff0000;
}

.order-landing__data {
  width: 100%;
}

/* Media query for tablets and desktops */
@media screen and (min-width: 768px) {
  .order-landing__data {
    width: 50%; /* Display two cards per row */
    float: left;
  }
}

.SP-slider .slide {
  flex: 1;
  text-align: center;
  transition: filter 0.3s;
}

.SP-slider .slide:not(.active) {
  filter: blur(5px); /* Adjust the blur strength as needed */
}

.carousel-dots {
  text-align: center;
  z-index: 3;
}

.carousel-dots .dot {
  display: inline-block;
  margin: 0 5px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 3;
}
.success-stories-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.success-stories-card-name {
  font-size: 18px;
  font-weight: 600;
  line-height: 21.6px;
  letter-spacing: -0.02em;
  text-align: left;
  font-family: Inter Tight;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin: 0;
}
.success-stories-card-nav {
  font-size: 18px;
  font-weight: 500;
  line-height: 28.8px;
  text-align: left;
  font-family: Inter Tight;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #434ee5;
  text-decoration: none;
  margin: 0;
}
.success-stories-card-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
}
@media screen and (max-width: 1124.9px) {
  .success-stories-card-body {
    flex-direction: column;
    align-items: center;
  }
}
.reviwer-image {
  height: 168px;
  width: 344px;
  object-fit: cover;
  border-radius: 30px !important;
}
@media screen and (max-width: 639.9px) {
  .reviwer-image {
    height: 138px;
    width: 300px;
    border-radius: 15px !important;
  }
}
.success-stories-card-body-content {
  font-family: Inter Tight;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  font-size: 32px;
  font-weight: 600;
  line-height: 41.6px;
  letter-spacing: -0.02em;
  text-align: left;

  margin: 0;
  max-width: 462px;
}
@media screen and (max-width: 1124.9px) {
  .success-stories-card-body-content {
    margin-bottom: 10px;
    text-align: center;
  }
}
@media screen and (max-width: 639.9px) {
  .success-stories-card-body-content {
    font-size: 24px;
    line-height: 31.6px;
  }
}
@media screen and (max-width: 639.9px) {
  .success-stories-review {
    margin-bottom: 10px;
  }
}

.success-stories-review-head {
  font-family: Inter Tight;
  font-size: 18px;
  font-weight: 500;
  line-height: 28.8px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: #434ee5;
  margin-top: 0;
  margin-bottom: 8px;
}
@media screen and (max-width: 1124.9px) {
  .success-stories-review-head {
    text-align: center;
  }
}
.success-stories-review-content {
  margin: 0;
  font-family: Inter Tight;
  font-size: 18px;
  font-weight: 500;
  line-height: 28.8px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #000;
  max-width: 904px;
  margin-bottom: 1px;
}
@media screen and (max-width: 1124.9px) {
  .success-stories-review-content {
    text-align: center;
  }
}
@media screen and (max-width: 639.9px) {
  .success-stories-review-content {
    font-size: 12px;
    line-height: 15.8px;
  }
}
.shader-1 {
  background-color: #f5f5f580;
  height: 27px;
  width: 750px;
  border-radius: 0px 0px 50px 50px;
  z-index: 2;
}
@media screen and (max-width: 1124.9px) {
  .shader-1 {
    display: none;
  }
}
.shader-2 {
  background-color: #f5f5f533;
  height: 27px;
  width: 542px;
  border-radius: 0px 0px 50px 50px;
  z-index: 2;
}
@media screen and (max-width: 1124.9px) {
  .shader-2 {
    display: none;
  }
}
.vector-arrow {
  height: 190px;
  width: 90px;
  z-index: 1;
  position: absolute;
  margin-left: 26.9vw;
  margin-top: -80px;
}
@media screen and (max-width: 1124.9px) {
  .vector-arrow {
    display: none;
  }
}
.mark-your-calander {
  margin-top: 83px;
  font-family: Inter Tight;
  font-size: 18px;
  font-weight: 500;
  line-height: 28.8px;
  text-align: center;
  text-decoration-skip-ink: none;
  color: #09e4a8;
  position: relative;
  text-decoration: none;
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
@media screen and (max-width: 1124.9px) {
  .mark-your-calander {
    margin-top: 20px;
  }
}
.coming-in {
  position: relative;
  font-family: Inter Tight;
  font-size: 42px;
  font-weight: 600;
  line-height: 50.4px;
  letter-spacing: -0.02em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
  z-index: 2;
  margin-top: 0;
  margin-bottom: 40px;
}
#timer {
  position: relative;
  z-index: 2;

  display: flex;
  justify-content: center;
  font-family: Inter Tight;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;

  .time-block {
    display: inline-block;
    background: #ffffff2e;
    backdrop-filter: blur(7px);
    border-radius: 20px;
    padding: 16px;
    width: 72px;
    height: 70px;
    text-align: center;
    span {
      display: block;
      font-family: Inter Tight;
      font-size: 13px;
      font-weight: 400;
      line-height: 20.8px;
      text-align: center;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;

      color: #958992;
    }
  }
  @media screen and (max-width: 639.9px) {
    .time-block {
      width: 50px;
      height: 65px;
    }
  }
  .time-splitter {
    margin: 0 10px;
    font-family: Inter Tight;
    font-size: 62px;
    font-weight: 600;
    line-height: 74.4px;
    letter-spacing: -0.02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    height: 70px;
    padding: 16px 0;
    color: #ffffff;
  }
}
.tech-partners {
  padding: 86px 140px;
  margin-top: 58px;
  padding-bottom: 99px;
  margin-bottom: 53px;
}
@media screen and (max-width: 1439.9px) {
  .tech-partners {
    width: 94%;
    padding: 86px 15px;
  }
}
@media screen and (max-width: 639.9px) {
  .tech-partners {
    padding-bottom: 19px;
    margin-bottom: 0px;
  }
}
.tech-partners-header {
  font-family: Inter Tight;
  font-size: 42px;
  font-weight: 600;
  line-height: 50.4px;
  letter-spacing: -0.02em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-top: 0;
  margin-bottom: 80px;
}
@media screen and (max-width: 639.9px) {
  .tech-partners-header {
    margin-bottom: 10px;
    font-size: 36px;
  }
}
.tech-partners-image-container {
  display: grid;
  grid-template-columns: repeat(5, 216px);
  grid-template-rows: repeat(2, 89.67px);
  gap: 29px 19px;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1124.9px) {
  .tech-partners-image-container {
    grid-template-columns: repeat(4, 127px);
    grid-template-rows: repeat(2, 89.67px);
  }
}
@media screen and (max-width: 639.9px) {
  .tech-partners-image-container {
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(5, 72.67px);
    gap: 0px 15px;
  }
}
.image {
  width: 216px;
  height: 89.67px;
}
@media screen and (max-width: 1124.9px) {
  .image {
    width: 138px;
    height: 58.67px;
  }
}
@media screen and (max-width: 639.9px) {
  .image {
    width: 167px;
    height: 85.67px;
  }
}
.ready-to-grow {
  width: 100vw;
  background-color: #010207;
  height: 301px;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ready-to-grow-word {
  width: 626px;
  height: 130px;
  margin-bottom: 44px;
}
@media screen and (max-width: 1124.9px) {
  .ready-to-grow-word {
    width: 590px;
    height: 93px;
  }
}
@media screen and (max-width: 639.9px) {
  .ready-to-grow-word {
    width: 310px;
    height: 49px;
  }
}
.contact-us-btn {
  width: 235px;
  height: 59px;
  padding: 16px 17px 16px 17px;
  gap: 10px;
  border: none;
  border-radius: 10px;
  opacity: 0px;
  background-color: #434ee5;
  font-family: Inter Tight;
  font-size: 22px;
  font-weight: 500;
  line-height: 26.63px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
}
.pink-grid {
  position: absolute;
  z-index: 1;
  margin-top: 69px;
  display: flex;
  align-self: flex-end;
  align-items: flex-end;
}
.footer {
  height: 56px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 639.9px) {
  .footer {
    flex-direction: column;
    justify-content: center;
    height: 60px;
    margin-bottom: 0;
  }
}
.footer-all-rights {
  z-index: 1;
  font-family: Inter Tight;
  font-size: 18px;
  font-weight: 500;
  line-height: 25.2px;
  letter-spacing: -0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-decoration: none;
}
@media screen and (max-width: 639.9px) {
  .footer-all-rights {
    margin: 0;
  }
}
